@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  @apply underline-offset-8 underline decoration-4 decoration-grass;
}

.nav-underline {
  position: relative;
  text-underline-offset: 8px;
}

.nav-underline::after {
  @apply bg-grass;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 4px;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-underline:hover::after,
.active-link .nav-underline::after {
  width: 100%;
  left: 0;
}