@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn:hover {
    background-color: rgba(236, 233, 233, 0.3);
  }

  .fixed-mobile {
    @apply fixed lg:relative lg:top-auto lg:left-auto;
  }
  
  .active-link {
    position: relative;
  }
  
  .active-link::after {
    content: '';
    position: absolute;
    bottom: -4px; /* 이 값을 조정하여 offset을 변경할 수 있습니다 */
    left: 0;
    width: 100%;
    height: 4px; /* border의 두께 */
    background-color: hsl(var(--primary)); /* border 색상 */
  }
  .nav-underline {
    position: relative;
    text-underline-offset: 10px;
  }
  
  .nav-underline::after {
    @apply bg-primary;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 4px;
    transition: width 0.3s ease, left 0.3s ease;
  }  
  
  .nav-underline:hover::after,
  .active-link .nav-underline::after {
    width: 100%;
    left: 0;
  }

  .remark-code-container {
    position: relative;
    margin: 1em 0;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    background: #2d2d2d;
    overflow: hidden;
  }

  .remark-code-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background: #1e1e1e;
    border-bottom: 1px solid #ddd;
  }

  .remark-code-title {
    font-size: 1rem;
    color: #fff;
  }

  .remark-code-language {
    font-size: 0.75rem;
    color: #ccc;
    text-transform: uppercase;
  }

  .remark-code-copy-button {
    background: transparent;
    border: none;
    color: #ccc;
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
  }

  .remark-code-copy-button:hover {
    background-color: #666;
  }

  .prose img {
    margin: 1rem 0;
  }

  .prose h1, 
  .prose h2 {
    border-bottom-width: 1px;
    padding-bottom: 4px;
    margin-bottom: 12px;
  }

  .prose blockquote > p {
    padding: 8px 0;
    overflow-wrap: break-word;
  }

  .prose blockquote {
    @apply bg-muted border-secondary-foreground px-2;
  }

  :not(pre) > code {
    /* Inline code only */
    @apply bg-muted;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    border-radius: 6px;
  }

  .prose :not(pre) > code::before,
  .prose :not(pre) > code::after {
    content: none;
  }
 
  summary::-webkit-details-marker { /* Safari */
    display: none;
  }

  summary {
    list-style-type: none;
  }

  details summary .icon-wrapper {
    display: inline-flex;
    transition: transform 0.25s;
  }
  
  details summary .icon-wrapper .icon-open {
    display: none;
  }
  
  details[open] summary .icon-wrapper .icon-closed {
    display: none;
  }
  
  details[open] summary .icon-wrapper .icon-open {
    display: block;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 124 38.7% 78.2%;
    --primary-foreground: 126 37.2% 69.4%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215.4 16.3% 46.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 210 0% 50%;

    --accent: 210 40% 95%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* DocSearch 변수 오버라이드 */
    --docsearch-primary-color: hsl(var(--primary-foreground));
    --docsearch-text-color: hsl(var(--foreground));
    --docsearch-spacing: 12px;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: hsl(var(--primary-foreground));
    --docsearch-muted-color: hsl(var(--muted-foreground));
    --docsearch-container-background: hsl(var(--background) / 80%);
    --docsearch-logo-color: hsl(var(--primary-foreground));
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: hsl(var(--background));
    --docsearch-modal-shadow: 0 3px 8px 0 hsl(var(--foreground) / 30%);
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: hsl(var(--muted));
    --docsearch-searchbox-focus-background: hsl(var(--accent));
    --docsearch-searchbox-shadow: inset 0 0 0 2px hsl(var(--primary-foreground));
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: hsl(var(--foreground));
    --docsearch-hit-active-color: hsl(var(--background));
    --docsearch-hit-background: hsl(var(--background));
    --docsearch-hit-shadow: 0 1px 3px 0 hsl(var(--muted) / 50%);
    --docsearch-key-gradient: linear-gradient(-225deg, hsl(var(--muted)), hsl(var(--background)));
    --docsearch-key-shadow: inset 0 -2px 0 0 hsl(var(--muted)), inset 0 0 1px 1px hsl(var(--background)), 0 1px 2px 1px hsl(var(--foreground) / 10%);
    --docsearch-footer-height: 44px;
    --docsearch-footer-background: hsl(var(--background));
    --docsearch-footer-shadow: 0 -1px 0 0 hsl(var(--border)), 0 -3px 6px 0 hsl(var(--muted) / 20%);
  }

  .dark {
    --background: 0 0% 11%;
    --foreground: 210 0% 67%;

    --card: 0 0% 13%;
    --card-foreground: 210 0% 67%;

    --popover: 0 0% 13%;
    --popover-foreground: 210 0% 67%;

    --primary: 126 37.2% 69.4%;
    --primary-foreground: 124 38.7% 78.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 215.4 16.3% 46.9%;

    --muted: 0 0% 15%;
    --muted-foreground: 210 0% 45%;

    --accent: 0 0% 18%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 15%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}